#----------------------------------------------------------
# Files Configurations
#----------------------------------------------------------
.env

#----------------------------------------------------------
# Folders configurations
#----------------------------------------------------------
node_modules/
dist/

#----------------------------------------------------------
# Files IDE
#----------------------------------------------------------
.vscode/
.idea/